<mat-toolbar>
 
    <header >
        <nav>
            <button class="logo" mat-button routerLink="/"><img src="./img/Screenshot_20230713_112026_Chrome-removebg-preview.png" alt=""></button>
           <span class="menu-spacer"></span>
            <ul class="navList">
                <button mat-button routerLink="/">Home</button>
                <button mat-button routerLink="/">Product</button>
                <button mat-button routerLink="/">Sign up</button>
               
            </ul>
        </nav>
    </header>
</mat-toolbar>
