@import "../app.component.scss";

header{ 

.logo{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;

    .logo:hover{
        opacity: 0.7;
    }

    img{
        max-width: 80px;
    }
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: black;
    height: 8vh;

    .navList{
        list-style: none;
        display: flex;

        li{
            letter-spacing: 3px;
            margin-left: 32px;
        }

    }
}

}
