<div>
  <section id="produto-favoritos">
    <h2>Confira aqui os seus imóveis favoritos:</h2>
    <mat-grid-list cols="3" rowHeight="3:4">
      <mat-grid-tile *ngFor="let produto of produtos; let i = index">
        <mat-card *ngIf="produto.favorito">
          <img mat-card-image [src]="produto.foto" [alt]="produto.titulo" />
          <mat-card-content>
            <h3>{{ produto.titulo }}</h3>
            <ul>
              <li>memoria: {{ produto.memoria }}</li>
              <li>ram: {{ produto.ram }}</li>
              <li>Sistema Operacional: {{ produto.sistema }}</li>
              <li>Preço: {{ produto.preco | currency}}</li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
            <button
              [class]="produto.favorito === false ? 'favorite' : 'favorite-checked'"
              [title]="produto.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'"
              mat-button
              (click)="toggleFavorito(i)"
            >
              <mat-icon aria-hidden="false" fontIcon="favorite"></mat-icon>
            </button>
            <a mat-button routerLink="['/', produto.id]">Mais detalhes</a>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </section>

  <section id="lista-produto">
    <h2>Todos os produtos:</h2>
    <mat-grid-list cols="3" rowHeight="3:4">
      <mat-grid-tile *ngFor="let produto of produtos; let i = index">
        <mat-card>
          <img mat-card-image [src]="produto.foto" [alt]="produto.titulo" />
          <mat-card-content>
            <h3>{{ produto.titulo }}</h3>
            <ul>
              <li>memoria: {{ produto.memoria }}</li>
              <li>ram: {{ produto.ram }}</li>
              <li>Sistema Operacional: {{ produto.sistema }}</li>
              <li>Preço: {{ produto.preco | currency }}</li>
            </ul>
          </mat-card-content>
          <mat-card-actions>
            <button
              [class]="produto.favorito === false ? 'favorite' : 'favorite-checked'"
              [title]="produto.favorito === false ? 'Adicionar aos favoritos' : 'Remover dos favoritos'"
              mat-button
              (click)="toggleFavorito(i)"
            >
              <mat-icon aria-hidden="false" fontIcon="favorite"></mat-icon>
            </button>
            <a mat-button routerLink="['/', produto.id]">Mais detalhes</a>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </section>
</div>
